:root{
    /* # Colors */
    
    /* ### Primary */
    
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    
    /* ### Neutral */
    
    --Very-dark-blue-main : hsl(217, 54%, 11%);
    --Very-dark-blue-card : hsl(216, 50%, 16%);
    --Very-dark-blue-line : hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);

}
body{
    font-size: 18px;
    background-color: var(--Very-dark-blue-main);
}
main{
    background-color: var(--Very-dark-blue-card);
    padding: 1em;
    width: 375px;
    color: var(--Soft-blue);
    margin: auto;
    border-radius: 0.5em;
}
h1{
    color: var(--White);
}
.image-card{
    width: 100%;
}
.image-avatar{
    width: 2em;
    height: 2em;
    border-radius: 50%;
}
a{
    color: var(--Cyan);
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }